#contact {
    margin-bottom: 200px;
    height: 100%;
}

.contactContainer {
    width: calc(100% - 30px);
    position: relative;
    height: 400px;
    margin-bottom: 50px;
    margin-top: 150px;
    background-image: linear-gradient(134deg, rgb(106, 152, 240) 0%, rgb(73, 97, 220) 99%);
    padding-top: 20px;
    border-radius: 10px;
}

.leftContent {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 6%;
    width: fit-content;
    text-align: center;
    color: rgb(248, 248, 248);
}

.leftContent svg {
    width: 1.25em;
    display: inline-block;
    font-size: 5em;
    height: 1em;
    vertical-align: -.125em;
}

.leftContent h3 {
    color: rgb(248, 248, 248);
}

.leftContent p {
    font-size: 16px;
    margin: 0;
    line-height: 150%;
    font-family: "Karla", sans-serif;
    color: rgb(248, 248, 248);
    font-weight: lighter;
}

.formEmail {
    position: absolute;
    width: 70%;
    top: -50px;
    right: -40px;
    padding: 50px 30px;
    background: rgb(248, 248, 248);
    border-radius: 10px;
    min-height: 400px;
    box-shadow: rgba(0, 0, 0, 0.05) 0 5px 10px;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "email    company "
        "fName    name "
        "message  message"
        ".        button  ";
}

.formEmail label span {
    font-size: 0.85em;
    color: rgb(37, 37, 37);
}

.formEmail label input {
    padding: 10px 15px;
    border-radius: 5px;
    background-color: rgb(234, 234, 234);
    border: medium;
    margin: 10px 0px;
    width: 100%;
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    overflow: visible;
}

.labelEmail {
    grid-area: email;
}

.labelCompany {
    grid-area: company;
}

.labelFirstName {
    grid-area: fName;
}

.labelName {
    grid-area: name;
}

.labelMessage {
    grid-area: message;
}