body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h2 {
    text-align: left;
    margin-left: 12.5%;
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
}

.header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerContainer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 150px;
}

header a img {
    height: 50px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

.navPage{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
}

.navPage:hover {
    text-decoration: underline;
}

.switchLanguage {
    display: flex;
    align-items: center;
}

.buttonLanguage {
    background-color: #555;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin-left: 10px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.buttonLanguage:hover {
    background-color: #777;
    transform: scale(1.05);
}

.buttonLanguage.active {
    background-color: #008CBA;
    transform: scale(1.1);
}

.buttonLanguage:first-child {
    margin-left: 0;
}


.main {
    padding: 20px;
}

.footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.aside {
    width: 20%;
    background-color: #D3D3D3;
    float: left;
    padding: 15px;
    text-align: justify;
    border-radius: 10px;
    margin-right: 20px;
    min-height: 500px;
    box-sizing: border-box;
}

.divDroite {
    background-color: #D3D3D3;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 75%;
    max-height: 500px;
    overflow-y: auto;
    margin-left: 22%;
    margin-right: 2%;
    min-height: 500px;
    box-sizing: border-box;
}

#formEmail {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-row {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.form-row .half-width {
    width: 50%;
}

#formEmail label {
    font-weight: bold;
    font-family: 'Arial', sans-serif;
    margin-bottom: 5px;
    display: block;
}

#formEmail input, #formEmail textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

#submitButton {
    width: 100px;
    background-color: #008CBA;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin: 0 auto;
    display: block;
    text-align: center;
}

#submitButton:hover {
    background-color: #007bb5;
}

.formation {
    width: 75%;
    margin: 0 auto;
}

.formation div {
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
    position: relative;
}

.formation h3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    font-size: 1.2em;
    color: #444;
}

.formation span {
    display: inline-block;
    margin-right: 15px;
}

.formation p {
    margin-top: 10px;
    font-size: 1em;
    color: #666;
}

.formation div:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1px;
    background: linear-gradient(to right, transparent, #ccc, transparent);
    width: 100%;
}

.formation div:not(:first-child) {
    margin-top: 20px;
}

.formation div:not(:last-child) {
    padding-bottom: 30px;
}





/* Media Queries pour adaptation mobile */
/*
@media (max-width: 800px) {
    .aside, .divDroite {
        float: none;
        width: 100%;
        margin: 0;
    }

    .divDroite {
        max-width: 100%;
        margin-top: 20px;
        padding: 15px;
    }

    .form-row {
        flex-direction: column;
    }

    .form-row .half-width {
        width: 100%;
    }
}*/



.description-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 10px;
}

.formation .description-container p {
    margin: 0;
    padding-right: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-grow: 1;
}


.more-info-btn {
    background-color: transparent;
    border: none;
    color: #007bff;
    font-size: 1em;
    cursor: pointer;
    text-align: right;
    white-space: nowrap;
}

.more-info-btn:hover {
    color: #0056b3;
    text-decoration: underline;
}


.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    animation: fadeIn 0.3s;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    max-width: 600px;
    text-align: center;
    position: relative;
    animation: slideDown 0.5s ease;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 1.5em;
    cursor: pointer;
    color: #666;
}

.close-btn:hover {
    color: #000;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideDown {
    from { transform: translateY(-20px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

.modal-body {
    display: flex; /* Aligne les éléments horizontalement */
    justify-content: space-between; /* Espacement entre les éléments */
}

.info-left {
    flex: 0 0 65%; /* Prend 65% de l'espace */
    padding: 20px; /* Ajoute du rembourrage */
}

.info-left ul {
    list-style-type: disc; /* Retire les puces par défaut si nécessaire */
    padding: 0; /* Supprime le padding par défaut */
    margin: 0; /* Supprime la marge par défaut */
}

.info-left ul li {
    text-align: justify;
    position: relative;
    margin-left: 20%;
}



.aside-right {
    flex: 0 0 30%; /* Prend 30% de l'espace */
    padding: 20px; /* Ajoute du rembourrage */
    background-color: #f9f9f9; /* Fond léger pour l'aside */
    border-radius: 5px; /* Coins arrondis */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ombre légère */
}

.aside-right img {
    max-width: 100%; /* S'assure que l'image ne dépasse pas la largeur de l'aside */
    border-radius: 5px; /* Coins arrondis pour l'image */
}

.map img {
    width: 100%; /* S'assure que la carte prend toute la largeur disponible */
    border-radius: 5px; /* Coins arrondis pour la carte */
}
