body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerContainer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 150px;
}

header a img {
    height: 50px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

.navPage{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
}

.navPage:hover {
    text-decoration: underline;
}

.switchLanguage {
    display: flex;
    align-items: center;
}

.buttonLanguage {
    background-color: #555;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin-left: 10px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.buttonLanguage:hover {
    background-color: #777;
    transform: scale(1.05);
}

.buttonLanguage.active {
    background-color: #008CBA;
    transform: scale(1.1);
}

.buttonLanguage:first-child {
    margin-left: 0;
}


.main {
    padding: 20px;
}

.footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

h2 {
    text-align: center;
}

.aside {
    width: 20%;
    background-color: #D3D3D3;
    float: left;
    padding: 15px;
    text-align: justify;
    border-radius: 10px;
    margin-right: 20px;
    min-height: 500px; /* Même hauteur que divDroite */
    box-sizing: border-box; /* Pour inclure le padding et border dans la hauteur totale */
}

/* Style du divDroite */
.divDroite {
    background-color: #D3D3D3;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 75%;
    max-height: 500px;
    overflow-y: auto;
    margin-left: 22%; /* Espace à gauche pour aside */
    margin-right: 2%;
    min-height: 500px; /* Même hauteur que l'aside */
    box-sizing: border-box; /* Pour inclure le padding et border dans la hauteur totale */
}

/* Style du formulaire */
#formEmail {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Groupement des champs côte à côte */
.form-row {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

/* Chaque champ prend 50% de l'espace dans une rangée */
.form-row .half-width {
    width: 50%;
}

/* Style des labels */
#formEmail label {
    font-weight: bold;
    font-family: 'Arial', sans-serif;
    margin-bottom: 5px;
    display: block;
}

/* Style des inputs et textarea */
#formEmail input, #formEmail textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

/* Style du bouton avec couleur #008CBA */
#submitButton {
    width: 100px; /* Largeur du bouton */
    background-color: #008CBA; /* Couleur définie */
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin: 0 auto; /* Centre le bouton horizontalement */
    display: block; /* Pour que le bouton soit un bloc centré */
    text-align: center; /* Centre le texte dans le bouton */
}

/* Hover du bouton */
#submitButton:hover {
    background-color: #007bb5; /* Légèrement plus foncé au hover */
}


/* Media Queries pour adaptation mobile */
/*
@media (max-width: 800px) {
    .aside, .divDroite {
        float: none;
        width: 100%;
        margin: 0;
    }

    .divDroite {
        max-width: 100%;
        margin-top: 20px;
        padding: 15px;
    }

    .form-row {
        flex-direction: column;
    }

    .form-row .half-width {
        width: 100%;
    }
}*/